altair
attrs
blinker
cachetools
certifi
chardet
charset-normalizer
click
colorama
et_xmlfile
fpdf
gitdb
GitPython
idna
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
narwhals
numpy
openpyxl
packaging
pandas
pillow
protobuf
pyarrow
pydeck
python-dateutil
requests
rpds-py
six
smmap
streamlit
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
pydrive2
streamlit-option-menu